/* src/components/Stretching/Timer-bar.css */
.timer-bar-container {
    position: relative;
    width: 332px;
    height: 2.2px;
    background-color: white;
    border-radius: 15.57px;
    margin: 0 auto;
}

.progress-bar {
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease;
}

.current-time-indicator {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.timer-text {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}