/* 커스텀 스타일 추가 */
.fc-scroller {
  height: 400px !important; /* 원하는 높이로 조정 */
}


/* 기본 앱 스타일 */
#root {
  margin: 0;
  padding: 0;
   /* 아이폰 13 기준 화면 크기 */
  display: flex;
  min-width: 390px;
  min-height: 100vh;
  justify-content: center;

}

body {
  font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 사용 */
}

.Container {
  height: auto;
  margin: 0 auto;
  padding:0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}


/* 웹크기 헤더바 */
.webHeaderBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  background-color: white;
  float: left;
  align-items: center;
  justify-content: start;
  height: 71px;
  width: 100%;

}

.webHeaderBar > img {
  width: 171px;
  margin-bottom: 8px;
  margin-left: 30px;

}

.webHeaderBarLink {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-left: 70px;
}

/* 웹 헤더바 반응형(수정 필요) */
@media screen and (max-width: 1280px) {
  .webHeaderBar{
    display: none;
  }
  .Container{
    position: static;
  }
}

@media screen and (min-width: 1280px) {
  .webHeaderBar{
    display: flex;
  }
}


/* 초기 로그인 페이지 */
.MainLogo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  margin-top: 174px;
  padding-left: 24px;
  padding-top:0;
}

.MainLogo > h1 {
  font-size: 2.6rem;
  font-weight: 700;

}

.MainLogo >img {
  width: 203px;
  height: 38px;
}

.MainText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 273px;
  gap: 0.5rem;
  padding: 6px 16px;
}

.MainText > p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.MainText > img {
  width: 23px;
  height: 23px;
}

.MainLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25.3px;
  margin-top: 2.6rem;
  margin-bottom: 16.2rem;
}

.MainLogin > a > img {
  width: 53px;
  height: 53px;
}


/* 메인 페이지 */
.MainHeader {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 390px;
  height: 407px;
  background-color: black;
  border-radius: 0 0 6rem 6rem;
}

.MainHeader > .Header {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  color:white;
  margin-top: 36px;

}

.Header p {
  font-size: 2rem;
  font-weight: 700;
}

.Header > .Nav {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 3px;
  left: 340px;
}

.Nav  div {
  margin-top:4px;
  height: 2px;
  width: 18px;
  background-color: white;
  transition: 0.3s;
}

.Nav.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.Nav.change .bar2 {
  opacity: 0;
}

.Nav.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-3px, -4px);
}

.NavContainer {
  position: absolute;
  margin-top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  z-index: 100;
  height: 407px;
  width: 190px;
  padding-left: 20px;
  padding-top: 30px;
  margin-left: 20rem;
  gap: 15px;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;

}

.NavContainer.visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}


.NavContainer > i {
  color: black;
  font-size: 3rem;
  text-align: end;
  font-weight: 500;
  margin-right: 5px;
  cursor: pointer;
}

.NavContainerLink {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: start;
  font-weight: 500;

}

.AlarmBtn {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 51px;
  background-color: white;
  gap: 4px;
  padding: 4px 0 4px;
  width: 164px;
  border-radius: 12px;
  margin-left: 2.4rem;
}

#AlarmLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

}

.AlarmBtn > img {
  width: 20px;
  height: 20px;
}

.HeaderMid {
  display: flex;
  margin-top: 12px;
}

#HeaderCtx {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  margin-left: 2.7rem;
}

#HeaderImg {
  width: 14.8rem;
  margin-left: 3px;
}



/* 메인 > 스트레칭 즐겨찾기 */
.StretchStr {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #77D32D;
  color: white;
  width: 34rem;
  height: 4.6rem;
  z-index: 1;
  border-radius: 5px;
  margin-left: 2.4rem;
  padding: 0 8px 0; 
}

#StretchStrLink {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.StretchStr > i {
  font-size: 3rem;
}

.StretchIdx {
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  width: 390px;
}

#StretchText  {
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem 0;
  align-items: center;
  width: 100%;
}

#StretchText > p {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
 
#StretchText > button {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 3px;
}

.StretchContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex: 0 0 auto;
  cursor: grab;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  
}

.StretchContainer::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.StretchCtx {
  min-width: 24.1rem;
  height: 14.1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(183, 183, 183);
  margin: 2.5rem 0 0 2.5rem;
  padding: 10px 10px 10px 16px;

}

.StretchCtx > i {
  font-size: 2.6rem;
  color: #77D32D;
}

.StretchBox > h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
}

.StretchBox > p {
  font-size: 14px;
  font-weight: 500;
}

.StretchTime {
  width: 64px;
  border: 1px solid #77D32D;
  border-radius: 2.4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}



/* FullCalendar 테두리 제거 */
.fc {
  border: none;
}

.fc .fc-header-toolbar {
  border: none;
}

.fc .fc-col-header-cell {
  border: none;
}

.fc .fc-scrollgrid, .fc .fc-daygrid-body, .fc .fc-timegrid-body {
  border: none;
}

.fc .fc-col-header > table, .fc .fc-scrollgrid > table, .fc .fc-daygrid-body > table, .fc .fc-timegrid-body > table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

.fc .fc-col-header > table th, .fc .fc-scrollgrid > table td, .fc .fc-daygrid-body > table td, .fc .fc-timegrid-body > table td {
  border: none;
}

.fc .fc-daygrid-day, .fc .fc-daygrid-day-frame, .fc .fc-daygrid-day-number {
  border: none;
}

.fc .fc-timegrid-slot, .fc .fc-timegrid-axis {
  border: none;
}

.fc-event {
  border: none;
}


/* 메인 > 주간 캘린더 */
.Calendar {
  display: flex;
  flex-direction: column;
}

.Calendar > img {
  width: 17.3rem;
  margin-top: 5.8rem;
  margin-left: 1.9rem;
}

.WeeklyCalendar {
  display: flex;
  flex-direction: column;
  height: 33.2rem;
  
  
}

.fc-media-screen {
  display: flex;
  margin: 0 16px 0 16px;
  padding-top: 28px;
  justify-content: center;
  border-radius: 21px;
  height: 332px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.fc-header-toolbar {
  display: flex;
  flex-direction: column;
  align-items:  start;
  justify-content: left;
  margin-right: 165px;
}

#fc-dom-16 {
  font-size: 1.4rem;
  font-weight: 400;
  text-align:left;
  margin-bottom: 5px;
}

.fc-dayGridWeek-view {
  display: flex;
  justify-content: center;

}

.fc-daygrid-day-frame {
  height: 110px !important;
}

.fc-col-header > thead {
  width: 342px;
  height: 72px;
}

.fc-daygrid-day-frame {
  height: 38px !important;
}

.fc-col-header-cell-cushion {
  font-size: 14px;
  font-weight: 500;
}

.custom-text {
  font-size: 22px;
  font-weight: 600;
}

#weeklyCalendarLink {
  display: flex;
  justify-content: center;
}

.weeklyCalendarLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 46px;
  background-color: black;
  padding: 0 9px 0 9px;
  border-radius: 5px;
}

.weeklyCalendarLink > p {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.weeklyCalendarLink > i {
  color: white;
  font-size: 30px;
}

/* 맥북 에어 크기 기준 웹 스타일 */
@media (min-width: 1440px) {
  .container {
    
  }
}


