/* 기본 앱 스타일 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 사용 */
}

.container {
  width: 100%;
  height: 100%;
  max-width: 390px; /* 아이폰 13 기준 화면 크기 */
  margin: 0 auto;
  padding:0;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid black;
}


/* 초기 로그인 페이지 */
.MainLogo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  margin-top: 174px;
  padding-left: 24px;
  padding-top:0;
}

.MainLogo > h1 {
  font-size: 2.6rem;
  font-weight: 700;

}

.MainLogo >img {
  width: 203px;
  height: 38px;
}

.MainText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 273px;
  gap: 0.5rem;
  padding: 6px 16px;
}

.MainText > p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.MainText > img {
  width: 23px;
  height: 23px;
}

.MainLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25.3px;
  margin-top: 2.6rem;
  margin-bottom: 16.2rem;
}

.MainLogin > img {
  width: 53px;
  height: 53px;
}


/* 메인 페이지 */
.MainHeader {
  display: inline-flex;
  flex-direction: column;
  width: 390px;
  height: 407px;
  background-color: black;
  border-radius: 0 0 6rem 6rem;
}

.MainHeader > .Header {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  color:#ffffff;
  margin-top: 36px;
  position: relative;
}

.Header p {
  font-size: 2rem;
  font-weight: 700;
}

.Header > .Nav {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 3px;
  height: 60px;
  left: 340px;
}

.Nav  div {
  margin-top:4px;
  height: 2px;
  width: 18px;
  background-color: #ffffff;
}

.AlarmBtn {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 51px;
  background-color: #ffffff;
  gap: 4px;
  padding: 4px 0 4px;
  width: 164px;
  border-radius: 12px;
  margin-left: 2.4rem;
}

.AlarmBtn > p {
  font-size: 14px;
  font-weight: 500;
}

.AlarmBtn > img {
  width: 20px;
  height: 20px;
}

#HeaderCtx {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  margin-left: 2.4rem;
}

#HeaderImg {
  width: 14.8rem;
  height: 15.5rem;
  position: absolute;
  top: 17.4rem;
  margin-left: 21.6rem; 
}

.StretchStr {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #77D32D;
  color: #ffffff;
  width: 34rem;
  height: 4.6rem;
  margin-top: 8.7rem;
  z-index: 1;
  border-radius: 5px;
  margin-left: 2.4rem;
  padding: 0 8px 0; 
}

.StretchStr > p {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.StretchStr > i {
  font-size: 3rem;
}

.StretchIdx {
  margin-top: 3.6rem;
  display: flex;
}

#StretchText  {
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem 0;
  align-items: center;
  width: 100%;
}

#StretchText > p {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
 
#StretchText > button {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 3px;
}


/* 맥북 에어 크기 기준 웹 스타일 */
@media (min-width: 1440px) {
  .container {
    
  }
}

