.alarm-screen {
    background-color: white;
    width: 390px;
    height: 844px;
    color: black;
    position: relative;
}

.alarm-top {
    top: 0;
    height: 94px;
}

.StatusBar {
    height: 47px;
    width: 390px;
}

.appbar {
    width: 100%;
    height: 48px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Pretendard', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 47px;
}

@media screen and (min-width: 1280px) {
    .webHeaderBar{
      display: flex;
    }
    .alarm-screen {
        margin-top: 40px;
    }
  }
  

#appbarLink > img {
    width: 30px;
    height: 30px;
    left: 24px;
    top: 10px;
    z-index: 1;
}

.inner-appbar {
    top: 12px;
    margin-top: 7px;
}

.choose-day-content {
    position: relative;
    width: 100%;
    padding: 24px 0;
}

.choose-day {
    position: absolute;
    left: 24px;
    top: 60px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 1;
}

.day {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    padding: 0px;
    position: relative;
    width: 354px;
    height: 48px;
    top: 80px;
    left: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Pretendard', sans-serif;
    line-height: 19.09px;
}

.day-button {
    background: none;
    border: none;
    position: relative; /* ::before 요소 위치를 기준으로 설정 */
    font-size: 16px; /* 버튼 텍스트 크기 설정 */
    font-weight: 700; /* 버튼 텍스트 두께 설정 */
    color: #000; /* 버튼 텍스트 색상 설정 */
    z-index: 1;
}

.day-button::before {
    content: ''; /* 빈 내용 */
    position: absolute; /* 절대 위치 */
    top: 50%; /* 버튼 중앙에 위치 */
    left: 50%; /* 버튼 중앙에 위치 */
    width: 0; /* 초기 너비 */
    height: 0; /* 초기 높이 */
    border-radius: 50%; /* 원 모양 */
    background-color: #77D32D; /* 초록색 배경 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    transition: width 0.3s, height 0.3s; /* 부드러운 전환 효과 */
    z-index: -1; /* 버튼 텍스트보다 뒤에 위치 */
}

.day-button.active::before {
    width: 45px; /* 원의 너비 */
    height: 45px; /* 원의 높이 */
}

.time-content {
    position: relative;
    text-align: left;
    left: 24px;
    top: 100px;
}

.choose-time {
    position: absolute;
    gap: 0px;
    opacity: 0px;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #000000;
}

.select-from {
    position: absolute;
    top: 53px; /* 상단에서 190px 위치 */
    width: 100%;
}

.custom-select {
    color: #49454F;
    width: 89px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border: 0px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M256 384l256 256 256-256z" fill="rgba(0,0,0,0.6)"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    font-family: 'Pretendard', sans-serif;
}

.custom-select:focus {
    outline: none;
}   

.select-to {
    position: absolute;
    top: 110px; /* 상단에서 190px 위치 */
    width: 100%;
}

.text-from, .text-to, .text-repeat {
    font-size: 14px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    margin-left: 5px;
}

.select-alarm-container {
    display: flex; /* 플렉스박스 사용 */
    align-items: center; /* 세로 정렬 */
    gap: 16px; /* 아이템 사이의 간격 추가 */
    position: relative; /* 부모 안에서 위치 조정 */
}

.alarm-repeat-content {
    position: relative;
    text-align: left;
    left: 24px;
    top: 300px;
}

.alarm-repeat {
    position: absolute;
    gap: 0px;
    opacity: 0px;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #000000;
}

.select-alarm-times,
.select-alarm-time {
    display: flex;
    align-items: center; /* 세로 정렬 */
    margin-top: 50px;
}

.text-repeat {
    margin-left: 11px;
}

.alarm-bottom-section {
    bottom: 0; /* 페이지 하단에 위치 */
    left: 0; /* 왼쪽 가장자리와 정렬 */
    width: 100%; /* 전체 너비를 차지 */
    padding: 16px; /* 버튼 주변에 여백 추가 */
}

.cta-ok-button > button {
    position: absolute;
    Width: 342px;
    Height: 49px;
    Left: 24px;
    bottom: 37px;
    display: block; /* 블록 레벨 요소로 변경 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 12px 24px; /* 버튼 내부 여백 */
    font-size: 16px; /* 버튼 텍스트 크기 */
    font-weight: 700; /* 버튼 텍스트 두께 */
    color: black; /* 버튼 텍스트 색상 */
    background-color: #D9D9D9; /* 버튼 배경색 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 8px; /* 버튼 모서리 둥글기 */
    cursor: pointer; /* 클릭 커서 표시 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.cta-ok-button > button:hover {
    background-color: black; /* 버튼 호버 시 배경색 변경 */
    color: white;
}